<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                <span class="" style="margin-left:20px;">
<i class="fa ion-ios-flask-outline fa-5x"></i>&nbsp;&nbsp;{{ .Site.Params.sitename }}
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right smooth-scroll">
                {{ $currentPage := . }} 
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="{{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}">
                            <a href="#">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }} 
                {{ end }}
            </ul>

        </div>
    </div>
    <!--/.container -->
</nav>
<!--/nav end -->