

<script src="{{ "assets/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "assets/bootstrap/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "assets/js/wow.min.js" | absURL }}"></script>
<script src="{{ "assets/js/jquery.stellar.min.js" | absURL }}"></script>
<!-- <script src="{{ "assets/flexslider/jquery.flexslider-min.js" | absURL }}"></script>
<script src="{{ "assets/contact_form/contact.js" | absURL }}"></script>
<script src="{{ "assets/lightbox2/dist/js/lightbox.min.js" | absURL }}" type="text/javascript"></script> -->
<script src="{{ "assets/js/custom.js" | absURL }}"></script>