<section id="about" class="about-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="text-center">
                    <!--<img src="assets/images/header_img.png" class="img-circle margin-btm-30 wow animated fadeInUp" alt="" data-wow-delay="0.2s">-->
                    <img src="{{ "assets/images/oof_ouchie_ow.png" | absURL }}" class="img-circle margin-btm-30 wow animated fadeInUp" alt="" data-wow-delay="0.2s"
                        height="250">
                    <h1>
                        Welcome to
                        <span>{{ .Site.Params.Name }}</span>
                        <br>
                        <small>What is CloudFireZero Labs? Well..</small>
                    </h1>

                </div>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-sm-12 wow animated fadeInLeft text-center" data-wow-delay="0.4s">
                        <p>
                            CloudFireZero Labs is the product of my ever abounding thirst for knowledge, and not really having a dedicated place to put
                            any of it.
                            <br> As I venture in to new hobbies, past times and other mishaps, I prefer to try and document and
                            share them here.
                        </p>
                        <p>
                            As I gain more knowledge on things I will probably move them to dedicated sites to better categorize them. But until then,
                            this is where my thoughts go.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>